* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.draggable-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 3px solid tomato;
}
.dropzone {
  width: 50%;
  background-color: #c7ecee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#draggable {
  width: 200px;
  background-color: #f39c12;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.wrapper {
  display: flex;
  width: 1200px;
  height: 80vh;
  margin: 2rem 3rem;
  border: 2px solid #bdc3c7;
  justify-content:  center;

}
.todos-container {
  width: 50%;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo {
  width: 200px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: #e74c3c;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 10px;
}
.done-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}
.output-container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 3px solid tomato; */
  /* align-items: center; */
}
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer
}
.op{
  font-size: 25px;
  font-weight: 2;
  padding: 9px;
  border: 2px solid #4CAF50;
  height: 48px;
  width: 100px;
  text-align: center;
}
.input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 10px;
  border-radius: 5px;
}
.reset-btn {
  background-color: #2d77ff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
  margin-top: 50px;
}